/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# esclude la cartella "app"
app/

# esclude la cartella "resources"
resources/

# esclude la cartella "public"
public/

# esclude la cartella "routes"
routes/


database/
